body {
    background-color: blueviolet;
}

.caixa {
    background-color: white;
    width: 520px;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 20px;
    width: 320px;
    
}

section {
    display: block;
    float: right;
    width: 63%;
}

h1 {
    text-decoration: solid;
    text-align: center;
    color: white;
}

textarea {
    resize: none;
}